################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/lesson6/obj/Debug
/lesson6/.vs/lesson6/v15
/lesson6/bin/Debug
